## Covid-19 Data 
### API data to Jupyter Notebook to Google Sheets

In [1]:
import requests
import json
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g

In [2]:
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('covid-19-jgs-f5e0a4db4c99.json', scope)
gc = gspread.authorize(credentials)
spreadsheet_key = '10cJhEec8cC4D0JlhpDXd3q0d_c8pm6aNffjv-IxptHs'

In [3]:
# spreadsheet_key = '10cJhEec8cC4D0JlhpDXd3q0d_c8pm6aNffjv-IxptHs'
# book = gc.open_by_key(spreadsheet_key)
# worksheet = book.worksheet("Covid-19 Data")
# table = worksheet.get_all_values()

In [4]:
response = requests.get("https://api.covid19api.com/summary")
print(response.status_code)

200

In [5]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators = (',', ': '))

type(response.json())

dict

In [6]:
for i in response.json():
    print(i)

Global
Countries
Date

In [7]:
for i in response.json():
    Countries = response.json()['Countries']
#     print(Countries)

In [8]:
Country = pd.DataFrame(Countries)
Country.head()

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date
0,ALA Aland Islands,AX,ala-aland-islands,0,0,0,0,0,0,2020-05-01T11:28:57Z
1,Afghanistan,AF,afghanistan,232,2171,4,64,8,260,2020-05-01T11:28:57Z
2,Albania,AL,albania,7,773,1,31,15,470,2020-05-01T11:28:57Z
3,Algeria,DZ,algeria,158,4006,6,450,77,1779,2020-05-01T11:28:57Z
4,American Samoa,AS,american-samoa,0,0,0,0,0,0,2020-05-01T11:28:57Z

In [9]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Covid-19 Summary'

# upload the dataframe of the clients we want to delete
d2g.upload(Country, spreadsheet_key, wks_name, credentials = credentials, col_names = True, 
           row_names = True, clean = True)

In [10]:
response2 = requests.get("https://api.covid19api.com/total/dayone/country/south-africa/status/confirmed")
print(response2.status_code)

200

In [11]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators = (',', ': '))
    
type(response2.json())

list

In [12]:
SA_confirmed = pd.DataFrame(response2.json())
SA_confirmed.tail()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status,Date
52,South Africa,,,,,0,0,4546,confirmed,2020-04-26T00:00:00Z
53,South Africa,,,,,0,0,4793,confirmed,2020-04-27T00:00:00Z
54,South Africa,,,,,0,0,4996,confirmed,2020-04-28T00:00:00Z
55,South Africa,,,,,0,0,5350,confirmed,2020-04-29T00:00:00Z
56,South Africa,,,,,0,0,5647,confirmed,2020-04-30T00:00:00Z

In [13]:
# SA_confirmed.drop(SA_confirmed.tail(1).index,inplace=True)
# SA_confirmed.tail()

In [14]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Covid-19: SA Data'

# upload the dataframe of the clients we want to delete
d2g.upload(SA_confirmed, spreadsheet_key, wks_name, credentials = credentials, col_names = True, 
           row_names = True, clean = True)

In [19]:
response3 = requests.get("https://api.covid19api.com/total/country/south-africa")
print(response2.status_code)

200

In [20]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators = (',', ': '))
    
type(response3.json())

list

In [21]:
SA_live = pd.DataFrame(response3.json())
SA_live.tail()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
95,South Africa,,,,,0,0,4546,87,1473,0,2020-04-26T00:00:00Z
96,South Africa,,,,,0,0,4793,90,1473,0,2020-04-27T00:00:00Z
97,South Africa,,,,,0,0,4996,93,2073,0,2020-04-28T00:00:00Z
98,South Africa,,,,,0,0,5350,103,2073,0,2020-04-29T00:00:00Z
99,South Africa,,,,,0,0,5647,103,2073,0,2020-04-30T00:00:00Z

In [22]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Covid-19: SA Summary'

# upload the dataframe of the clients we want to delete
d2g.upload(SA_live, spreadsheet_key, wks_name, credentials = credentials, col_names = True, 
           row_names = True, clean = True)