### Hey Beautiful People
#### So below are 7 datasets, which I managed to transform into readable tables. I also decided to add the info of each data to give an idea of total entries and columns for each dataset. These are the datasets chosen by the Google Data Studio Team, that we will be using to build our dashboard.
#### The purpose of these is for us to be able to build up a questionnaire, for our users, and be able to create user stories and journies.
I hope these are clear.

In [1]:
import requests
import json
import pandas as pd

In [2]:
response1 = requests.get("https://covidvisual.com/api/Cases/getall")
response2 = requests.get("https://covidvisual.com/api/Cases/getallperday")
response3 = requests.get("https://covidvisual.com/api/Cases/getdayaggregate")
response4 = requests.get("https://covidvisual.com/api/Deaths/getall")
response5 = requests.get("https://covidvisual.com/api/Hospitals/public/getall")
response6 = requests.get("https://covidvisual.com/api/Hospitals/private/getall")
response7 = requests.get("https://covidvisual.com/api/Tests/getall")

In [3]:
print(response1.status_code)
print(response2.status_code)
print(response3.status_code)
print(response4.status_code)
print(response5.status_code)
print(response6.status_code)
print(response7.status_code)

200
200
200
200
200
200
200

In [4]:
covid_19_All_Cases = pd.DataFrame(response1.json())
covid_19_All_Cases.head()

,caseId,date,datePlain,country,province,geoSubdivisions,age,gender,transmissionType
0,1,2020-03-05T00:00:00,20200305,South Africa,KZN,ZA-KZN,38,male,Travelled to Italy
1,2,2020-03-07T00:00:00,20200307,South Africa,GP,ZA-GP,39,female,Travelled to Italy
2,3,2020-03-08T00:00:00,20200308,South Africa,KZN,ZA-KZN,38,female,Travelled to Italy
3,4,2020-03-09T00:00:00,20200309,South Africa,KZN,ZA-KZN,38,male,Travelled to Italy
4,5,2020-03-09T00:00:00,20200309,South Africa,KZN,ZA-KZN,38,female,Travelled to Italy

In [5]:
covid_19_All_Cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   caseId            709 non-null    int64
 1   date              709 non-null    object
 2   datePlain         709 non-null    object
 3   country           709 non-null    object
 4   province          709 non-null    object
 5   geoSubdivisions   709 non-null    object
 6   age               709 non-null    int64
 7   gender            709 non-null    object
 8   transmissionType  709 non-null    object
dtypes: int64(2), object(7)
memory usage: 50.0+ KB

In [6]:
covid_19_Per_Day = pd.DataFrame(response2.json())
covid_19_Per_Day.head()

   casesTotal                 date
0         1.0  2020-03-05T00:00:00
1         1.0  2020-03-07T00:00:00
2         1.0  2020-03-08T00:00:00
3         4.0  2020-03-09T00:00:00
4         6.0  2020-03-11T00:00:00

In [7]:
covid_19_Per_Day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   casesTotal  19 non-null     float64
 1   date        19 non-null     object
dtypes: float64(1), object(1)
memory usage: 432.0+ bytes

In [8]:
covid_19_Aggregate = pd.DataFrame(response3.json())
covid_19_Aggregate.head()

   casesTotal                 date
0         1.0  2020-03-05T00:00:00
1         2.0  2020-03-07T00:00:00
2         3.0  2020-03-08T00:00:00
3         7.0  2020-03-09T00:00:00
4        13.0  2020-03-11T00:00:00

In [9]:
covid_19_Aggregate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   casesTotal  32 non-null     float64
 1   date        32 non-null     object
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

In [10]:
covid_19_All_Deaths = pd.DataFrame(response4.json())
covid_19_All_Deaths.head()

   caseId                 date datePlain
0       1  2020-03-27T00:00:00  20200327
1       2  2020-03-28T00:00:00  20200328
2       3  2020-03-30T00:00:00  20200330
3       4  2020-03-31T00:00:00  20200331
4       5  2020-03-31T00:00:00  20200331

In [11]:
covid_19_All_Deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   caseId     13 non-null     int64
 1   date       13 non-null     object
 2   datePlain  13 non-null     object
dtypes: int64(1), object(2)
memory usage: 440.0+ bytes

In [12]:
covid_19_Pub_Hospitals = pd.DataFrame(response5.json())
covid_19_Pub_Hospitals.head()

,name,long,lat,category,province,district,subDistrict
0,183,Fort England Hospital,26.54361,-33.3156,Public Hospital,Eastern Cape,Sarah Baartman District Municipality
1,91,Fort Beaufort Hospital,26.633571,-32.7802,Public Hospital,Eastern Cape,Amathole District Municipality
2,95,Bhisho Hospital,27.45516,-32.8277,Public Hospital,Eastern Cape,Buffalo City Metropolitan Municipality
3,99,Grey Hospital,27.39579,-32.8793,Public Hospital,Eastern Cape,Buffalo City Metropolitan Municipality
4,138,St Francis Hospital,26.69921,-30.6887,Public Hospital,Eastern Cape,Zululand District Municipality

In [13]:
covid_19_Pub_Hospitals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856 entries, 0 to 855
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         856 non-null    object
 1   long         856 non-null    object
 2   lat          856 non-null    object
 3   category     856 non-null    object
 4   province     856 non-null    object
 5   district     856 non-null    object
 6   subDistrict  856 non-null    object
dtypes: object(7)
memory usage: 46.9+ KB

In [14]:
covid_19_Priv_Hospitals = pd.DataFrame(response6.json())
covid_19_Priv_Hospitals.head()

    id                       hospitalName       long       lat province
0  464  Mediclinic Newcastle Day Hospital  29.931891  -27.7672   ZA-KZN
1  465      Mediclinic Newcastle Hospital  29.931392  -27.7685   ZA-KZN
2  466         Ahmed Al-Kadi Prv Hospital  30.978631   -29.844   ZA-KZN
3  467            Akeso Umhlanga Hospital  31.068422  -29.7129   ZA-KZN
4  468    Alliance Care Umhlanga Hospital  31.021882  -29.7547   ZA-KZN

In [15]:
covid_19_Priv_Hospitals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            430 non-null    int64
 1   hospitalName  430 non-null    object
 2   long          430 non-null    object
 3   lat           430 non-null    object
 4   province      430 non-null    object
dtypes: int64(1), object(4)
memory usage: 16.9+ KB

In [16]:
covid_19_Tests = pd.DataFrame(response7.json())
covid_19_Tests.head()

,date,datePlain,cmulativeTests,recovered,deaths,scannedTravellers,passengersElevatedTemperature,covidSuspectedCriteria
0,2020-02-11T00:00:00,20200211,61,0,0,0,0,0
1,2020-02-13T00:00:00,20200213,67,0,0,0,0,0
2,2020-02-14T00:00:00,20200214,71,0,0,0,0,0
3,2020-02-19T00:00:00,20200219,95,0,0,0,0,0
4,2020-02-20T00:00:00,20200220,106,0,0,0,0,0

In [17]:
covid_19_Tests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           41 non-null     object
 1   datePlain                      41 non-null     object
 2   cmulativeTests                 41 non-null     int64
 3   recovered                      41 non-null     int64
 4   deaths                         41 non-null     int64
 5   scannedTravellers              41 non-null     int64
 6   passengersElevatedTemperature  41 non-null     int64
 7   covidSuspectedCriteria         41 non-null     int64
dtypes: int64(6), object(2)
memory usage: 2.7+ KB

In [19]:
response = requests.get("https://api.covid19api.com/summary")
print(response.status_code)

200

In [21]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators=(',', ': '))
    #print(text)

# jprint(response.json())

In [22]:
type(response.json())

dict

In [23]:
for i in response.json():
    print(i)

Global
Countries
Date

In [26]:
for i in response.json():
    Countries = response.json()['Countries']
#     print(Countries)

In [27]:
Country = pd.DataFrame(Countries)

Country.head()

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date
0,ALA Aland Islands,AX,ala-aland-islands,0,0,0,0,0,0,2020-04-07T15:20:58Z
1,Afghanistan,AF,afghanistan,18,367,4,11,3,18,2020-04-07T15:20:58Z
2,Albania,AL,albania,16,377,1,21,12,116,2020-04-07T15:20:58Z
3,Algeria,DZ,algeria,103,1423,21,173,0,90,2020-04-07T15:20:58Z
4,American Samoa,AS,american-samoa,0,0,0,0,0,0,2020-04-07T15:20:58Z