## Covid-19 Data 
### API data to Jupyter Notebook to Google Sheets

In [1]:
import requests
import json
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g

In [2]:
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('covid-19-jgs-f5e0a4db4c99.json', scope)
gc = gspread.authorize(credentials)
spreadsheet_key = '10cJhEec8cC4D0JlhpDXd3q0d_c8pm6aNffjv-IxptHs'

In [3]:
# spreadsheet_key = '10cJhEec8cC4D0JlhpDXd3q0d_c8pm6aNffjv-IxptHs'
# book = gc.open_by_key(spreadsheet_key)
# worksheet = book.worksheet("Covid-19 Data")
# table = worksheet.get_all_values()

In [4]:
response = requests.get("https://api.covid19api.com/summary")
print(response.status_code)

200

In [5]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators = (',', ': '))

type(response.json())

dict

In [6]:
for i in response.json():
    print(i)

Global
Countries
Date

In [7]:
for i in response.json():
    Countries = response.json()['Countries']
#     print(Countries)

In [8]:
Country = pd.DataFrame(Countries)
Country.head()

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date
0,ALA Aland Islands,AX,ala-aland-islands,0,0,0,0,0,0,2020-04-28T09:49:02Z
1,Afghanistan,AF,afghanistan,172,1703,7,57,13,220,2020-04-28T09:49:02Z
2,Albania,AL,albania,10,736,0,28,12,422,2020-04-28T09:49:02Z
3,Algeria,DZ,algeria,135,3517,7,432,50,1558,2020-04-28T09:49:02Z
4,American Samoa,AS,american-samoa,0,0,0,0,0,0,2020-04-28T09:49:02Z

In [9]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Covid-19 Summary'

# upload the dataframe of the clients we want to delete
d2g.upload(Country, spreadsheet_key, wks_name, credentials = credentials, col_names = True, 
           row_names = True, clean = True)

In [10]:
response2 = requests.get("https://api.covid19api.com/dayone/country/south-africa/status/confirmed/live")
print(response2.status_code)

200

In [11]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators = (',', ': '))
    
type(response2.json())

list

In [12]:
SA_confirmed = pd.DataFrame(response2.json())
SA_confirmed.head()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status,Date
0,South Africa,ZA,,,,-30.56,22.94,1,confirmed,2020-03-05T00:00:00Z
1,South Africa,ZA,,,,-30.56,22.94,1,confirmed,2020-03-06T00:00:00Z
2,South Africa,ZA,,,,-30.56,22.94,1,confirmed,2020-03-07T00:00:00Z
3,South Africa,ZA,,,,-30.56,22.94,3,confirmed,2020-03-08T00:00:00Z
4,South Africa,ZA,,,,-30.56,22.94,3,confirmed,2020-03-09T00:00:00Z

In [13]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Covid-19: SA Data'

# upload the dataframe of the clients we want to delete
d2g.upload(SA_confirmed, spreadsheet_key, wks_name, credentials = credentials, col_names = True, 
           row_names = True, clean = True)

In [14]:
response3 = requests.get("https://api.covid19api.com/live/country/south-africa")
print(response2.status_code)

200

In [15]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators = (',', ': '))
    
type(response3.json())

list

In [16]:
SA_live = pd.DataFrame(response3.json())
SA_live.tail()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
11,South Africa,ZA,,,,-30.56,22.94,3953,75,1473,2405,2020-04-24T00:00:00Z
12,South Africa,ZA,,,,-30.56,22.94,4220,79,1473,2668,2020-04-25T00:00:00Z
13,South Africa,ZA,,,,-30.56,22.94,4361,86,1473,2802,2020-04-26T00:00:00Z
14,South Africa,ZA,,,,-30.56,22.94,4546,87,1473,2986,2020-04-27T00:00:00Z
15,South Africa,ZA,,,,-30.56,22.94,4793,90,1473,3230,2020-04-28T00:00:00Z

In [17]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Covid-19: SA Summary'

# upload the dataframe of the clients we want to delete
d2g.upload(SA_live, spreadsheet_key, wks_name, credentials = credentials, col_names = True, 
           row_names = True, clean = True)