## Covid-19 Data 
### API data to Jupyter Notebook to Google Sheets
In this notebook, We connect this notebook with a google sheet, where every update made in the API will be updated in the google sheet whenever this notebook is processed. The running of this notebook will take place once daily, as the API source is also updated once a day.

In [1]:
# Loading all the libraries we need
import requests
import json
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g

In [2]:
# Linking this notebook with google sheet
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name('covid-19-jgs-f5e0a4db4c99.json', scope)
gc = gspread.authorize(credentials)
spreadsheet_key = '10cJhEec8cC4D0JlhpDXd3q0d_c8pm6aNffjv-IxptHs'

In [3]:
# spreadsheet_key = '10cJhEec8cC4D0JlhpDXd3q0d_c8pm6aNffjv-IxptHs'
# book = gc.open_by_key(spreadsheet_key)
# worksheet = book.worksheet("Covid-19 Data")
# table = worksheet.get_all_values()

### The following section consists of three different API links fom the same source https://covid19api.com/ and they are all preprocessed in this notebook, converted into dataframe tables then saved in our google sheet.

In [4]:
# Loading the Covid-19 Summarised Data
response = requests.get("https://api.covid19api.com/summary")
print(response.status_code)

200

In [5]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators = (',', ': '))

# type(response.json())

In [6]:
for i in response.json():
    print(i)

Message
Global
Countries
Date

In [7]:
for i in response.json():
    Countries = response.json()['Countries']
#     print(Countries)

In [8]:
Country = pd.DataFrame(Countries)
Country.head()

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium
0,Afghanistan,AF,afghanistan,26,38520,3,1418,158,30715,2020-09-09T08:39:34Z,{}
1,Albania,AL,albania,147,10553,2,321,53,6239,2020-09-09T08:39:34Z,{}
2,Algeria,DZ,algeria,285,46938,9,1571,198,33183,2020-09-09T08:39:34Z,{}
3,Andorra,AD,andorra,0,1261,0,53,0,934,2020-09-09T08:39:34Z,{}
4,Angola,AO,angola,52,3033,4,124,0,1215,2020-09-09T08:39:34Z,{}

In [9]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Covid-19 Summary'

# upload the dataframe of the clients we want to delete
d2g.upload(Country, spreadsheet_key, wks_name, credentials = credentials, col_names = True, 
           row_names = True, clean = True)

In [10]:
# Loading the Covid-19 South African Confirmed Cases only Data
response2 = requests.get("https://api.covid19api.com/total/dayone/country/south-africa/status/confirmed")
print(response2.status_code)

200

In [11]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators = (',', ': '))
    
type(response2.json())

list

In [12]:
SA_confirmed = pd.DataFrame(response2.json())
SA_confirmed.tail()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status,Date
183,South Africa,,,,,0,0,635078,confirmed,2020-09-04T00:00:00Z
184,South Africa,,,,,0,0,636884,confirmed,2020-09-05T00:00:00Z
185,South Africa,,,,,0,0,638517,confirmed,2020-09-06T00:00:00Z
186,South Africa,,,,,0,0,639362,confirmed,2020-09-07T00:00:00Z
187,South Africa,,,,,0,0,640441,confirmed,2020-09-08T00:00:00Z

In [13]:
# SA_confirmed.drop(SA_confirmed.tail(1).index,inplace=True)
# SA_confirmed.tail()

In [14]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Covid-19: SA Data'

# upload the dataframe of the clients we want to delete
d2g.upload(SA_confirmed, spreadsheet_key, wks_name, credentials = credentials, col_names = True, 
           row_names = True, clean = True)

In [15]:
# Loading the Covid-19 South African Summarised Data
response3 = requests.get("https://api.covid19api.com/total/country/south-africa")
print(response2.status_code)

200

In [16]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys = True, indent = 4, separators = (',', ': '))
    
# type(response3.json())

In [17]:
SA_live = pd.DataFrame(response3.json())
SA_live.tail()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date
226,South Africa,,,,,0,0,635078,14678,557818,62582,2020-09-04T00:00:00Z
227,South Africa,,,,,0,0,636884,14779,561204,60901,2020-09-05T00:00:00Z
228,South Africa,,,,,0,0,638517,14889,563891,59737,2020-09-06T00:00:00Z
229,South Africa,,,,,0,0,639362,15004,566555,57803,2020-09-07T00:00:00Z
230,South Africa,,,,,0,0,640441,15086,567729,57626,2020-09-08T00:00:00Z

In [18]:
# Set the sheet name you want to upload data to and the start cell where the upload data begins 
wks_name = 'Covid-19: SA Summary'

# upload the dataframe of the clients we want to delete
d2g.upload(SA_live, spreadsheet_key, wks_name, credentials = credentials, col_names = True, 
           row_names = True, clean = True)